<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array/>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict/>
		<key>sheetClusters</key>
		<dict>
			<key>GCD.md</key>
			<dict>
				<key>lastModification</key>
				<real>546341361.38431799</real>
				<key>version</key>
				<dict>
					<key>b5c1e481859dc91c87c2e03e64c51c22b41ad0fe29c90e45bc86d9465441c3cd</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>gettingstarted.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>546338532.23792005</real>
				<key>lastModification</key>
				<real>546338532.23792005</real>
				<key>version</key>
				<dict>
					<key>b5c1e481859dc91c87c2e03e64c51c22b41ad0fe29c90e45bc86d9465441c3cd</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>无标题.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>546337723.14251006</real>
				<key>lastModification</key>
				<real>546337723.14251006</real>
				<key>version</key>
				<dict>
					<key>b5c1e481859dc91c87c2e03e64c51c22b41ad0fe29c90e45bc86d9465441c3cd</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>GCD.md</string>
		</array>
		<array>
			<string>无标题.md</string>
		</array>
		<array>
			<string>gettingstarted.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>b5c1e481859dc91c87c2e03e64c51c22b41ad0fe29c90e45bc86d9465441c3cd</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>b5c1e481859dc91c87c2e03e64c51c22b41ad0fe29c90e45bc86d9465441c3cd</key>
			<integer>5</integer>
		</dict>
	</dict>
</dict>
</plist>
