<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>新建文件夹</string>
		<string>OC</string>
	</array>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>OC</key>
			<dict>
				<key>lastModification</key>
				<real>546341320.31939101</real>
				<key>version</key>
				<dict>
					<key>b5c1e481859dc91c87c2e03e64c51c22b41ad0fe29c90e45bc86d9465441c3cd</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>新建文件夹</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>546341675.64172697</real>
				<key>lastModification</key>
				<real>546341675.64172697</real>
				<key>version</key>
				<dict>
					<key>b5c1e481859dc91c87c2e03e64c51c22b41ad0fe29c90e45bc86d9465441c3cd</key>
					<integer>8</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>b5c1e481859dc91c87c2e03e64c51c22b41ad0fe29c90e45bc86d9465441c3cd</key>
			<integer>8</integer>
		</dict>
	</dict>
</dict>
</plist>
